<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-book"></span> Grades</h3>
        <div id="tabulator-example"></div>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    STUFFS
  </div>
</div>


</body>
</html>
