<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-book"></span> Grades</h3>
        <div id="tabulator-example"></div>
    </div>
  </div> <!-- row -->
  <div class="alert alert-danger text-center" role="alert">
    TEACHER MODE
  </div>
</div>

<script>
var tempy;
    $("#tabulator-example").tabulator({
    cellEdited:function(cell){
        //cell - cell component
        //tempy = cell;
      cell.getRow().reformat();
      console.log(cell.getData());
      $.post('/update', cell.getData());
    },
    columns:[
        {title:"Name", field:"name", sorter:"string", width:200},
        {title:"Grade", field:"graded", sorter:"string", editor:"select", editorParams:{
                "A":"A",
                "B":"B",
                "C":"C",
                "D":"D",
                "F":"F",
        }},
    ],
    rowFormatter:function(row){
        row.getElement().removeClass("success info warning danger");
        switch(row.getData().graded){
            case "A":
                row.getElement().addClass("success");
                break;
            case "B":
                row.getElement().addClass("info");
                break;
            case "C":
                break;
            case "D":
                row.getElement().addClass("warning");
                break;
            case "F":
                row.getElement().addClass("danger");
                break;
        }
    },
});

var tableData = [
    {name:"Billy Bob", graded:"A"},
    {name:"Silly Bob", graded:"B"},
    {name:"Bad Bob", graded:"F"},
    {name:"Bob's Bad", graded:"F"},
    {name:"Do Better", graded:"D"},
    {name:"So Close", graded:"C"},
]

$("#tabulator-example").tabulator("setData", tableData);


</script>
</body>
</html>
